grisOscuro = #444
naranja = #dd4f24
azul = #22bce0
body
	background #e8e8e8
	color grisOscuro
	font-family Arial
	font-size 16px

header
	background grisOscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	padding 0.5em
	position relative
	overflow hidden

	.logo
		border-right 1px solid azul
		width 60px
		img
			width 52px
	.titular
		margin 0 80px 0 70px
		.filtro
			color azul
			font-size 14px
			font-style italic
			font-weight bold
			text-decoration none
		.publicar
			background naranja
			color white
			float right
			font-style italic
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 1px 1px 0px black
		.titulo
			font-size 18px
			font-weigth normal
			margin 0
			padding 0
			text-shadow 1px 1px 0px black
	.usuario
		position absolute
		right 10px
		top 0
		.avatar
			margin 0 1em 0 0
			z-index 1
			position relative
			img
				border-radius 50%
				width 50px
		.flechita
			background naranja
			color white
			display block
			padding 2px
			text-align right
			text-decoration none
			width 50%
			position absolute
			right 0
			top 15px
			z-index 0


nav
	border-left 15px solid white
	background azul
	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		white-space nowrap
		overflow-x auto
		li
			display inline-block
			a
				color white
				display block
				text-decoration none
				padding 0 0.2em
				margin 0 0.5em


.left
	float left

.right
	float right
